body {
    background-image:url('https://tenor.com/view/static-dark-background-black-and-white-horror-gif-537857989342745980');
    color: #205ee6;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 90px;
h1 { color: rgb(183, 244, 247); }
a { color: #00bcd4; }
#loginbutton { color:rgb(0, 0, 0);background-color:#a0cfeb}
#popup {color: rgb(0, 0, 0)}
}